@font-face {
    font-family: 'Montserrat-Bold';
    src: url(./Montserrat-Bold.woff2) format('woff2'),
         url(./Montserrat-Bold.woff) format('woff'),
         url(./Montserrat-Bold.ttf) format('ttf'),
         url(./Montserrat-Bold.eot) format('eot');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url(./Montserrat-Medium.woff2) format('woff2'),
       url(./Montserrat-Medium.woff) format('woff'),
       url(./Montserrat-Medium.ttf) format('ttf'),
       url(./Montserrat-Medium.eot) format('eot');
}
